@charset "utf-8";

/* These are styles for all screen sizes  */

/* Flex Layout Styles */

body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
}


	footer{order:2;
		text-align: center;
		font-weight: bold;
}

/* header styles */


/* nav List styles  */
 

/* Footer styles */
